<hello name="{{ name }}"></hello>
<test-component
  [testProperty]="3"
  test-directive
  (emitter)="liClicked()"
></test-component>
<test1-component test-directive></test1-component>
<p>Start editing to see some magic happen :)</p>
<h1 test-directive>TEST</h1>

<br />
{{ name }}
<br />
<input type="text" [(ngModel)]="cognome" /> 
<br />
{{ cognome }}
<table-component></table-component>
<register-user></register-user>

<page1-component></page1-component>
<page2-component></page1-component>
<page3-component></page1-component>